<?xml version="1.0"?>

<launch>
	<arg name="world_parameter" value="warehouse" />
	<node pkg="gazebo_odom_tf" type="gazebo_odom" name="gazebo_odom" output="screen" >
        <param name="odom_topic" value = "gazebo_odom" />         
        <param name="reference_frame" value = "/odom" />          
        <param name="child_frame" value = "base_footprint" />
    </node>
	<include file="$(find hunter_se_control)/launch/hunter_se_v_contol.launch" />
    <node name="pointcloud_to_pointcloud2" pkg="livox_laser_simulation" type="pointcloud_to_pointcloud2" />
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/pointcloud2"/>
        <remap from="scan" to="/scan"/>
        <rosparam>
            # target_frame: rslidar # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: -0.4
            max_height: 1.0

            angle_min: -3.1415926 # -M_PI
            angle_max: 3.1415926 # M_PI
            angle_increment: 0.003 # 0.17degree
            scan_time: 0.1
            range_min: 0.2
            range_max: 100
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>   

  <node pkg="topic_tools" type="relay" name="cmd_vel_relay" output="screen">
    <param name="input" value="/cmd_vel" />
    <param name="output" value="/ackermann_steering_controller/cmd_vel" />
  </node>
  
</launch>
